/* JetBrains Mono */
@font-face {
    font-family: "JetBrains Mono";
    font-style: italic;
    font-weight: 400;
    src: local("JetBrains Mono"),
         local("JetBrainsMono-Italic"),
         url("../fonts/JetBrainsMono-Italic[wght].ttf") format("truetype");
}



/* Noto Serif */
@font-face {
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: 400 900;
    src: local("Noto Serif"),
         url("../fonts/Noto_Serif/NotoSerif-VariableFont_wdth,wght.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Serif";
    font-style: italic;
    font-weight: 400 900;
    src: local("Noto Serif Italic"),
         url("../fonts/Noto_Serif/NotoSerif-Italic-VariableFont_wdth,wght.ttf") format("truetype");
}

/* Noto Serif SC (中文) */
@font-face {
    font-family: "Noto Serif SC";
    font-style: normal;
    font-weight: 400;
    src: local("Noto Serif SC"),
         url("../fonts/Noto_Serif_SC/NotoSerifSC-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Serif SC";
    font-style: normal;
    font-weight: 700;
    src: local("Noto Serif SC"),
         url("../fonts/Noto_Serif_SC/NotoSerifSC-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Serif SC";
    font-style: normal;
    font-weight: 900;
    src: local("Noto Serif SC"),
         url("../fonts/Noto_Serif_SC/NotoSerifSC-VariableFont_wght.ttf") format("truetype");
} 